.box-img {
  margin: 100px 250px 125px;
  &__form {
    width: 100%;
    height: 100%;
    &__title {
      color: black;
      font-weight: bold;
      font-size: 25px;
      margin: 15px 0px;
    }
    &__first {
      display: flex;
      &__images {
        height: 420px;
        width: 420px;
      }
    }
  }
}