.newtopinc {
  padding: 16px;
}

.newtopicHead {
  &__link {
    text-decoration: none;
    font-weight: bold;
  }
  &__title {
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-left: 45px;
    // text-align: center;
  }
  &__title:hover {
    color: #9f106a;
  }
}

.newtopicBox {
  width: 100%;
  // padding: 0px 25px;
  &__lists {
    width: 100%;
    padding: 35px;
    &__link {
      display: inline-block;
      text-decoration: none;
      color: black;
      margin: 15px 15px;
    }
    &__img {
      height: 420px;
      width: 420px;
      transition: box-shadow .5s;
      &__imgs {
        height: 100%;
        width: 100%;
      }
      &__imgs:hover {
        box-shadow: 0 12px 12px gray;
      }
    }
    &__body {
      background-color: rgba(197, 193, 193, 0.678);
      padding: 16px;
      &__shopname {
        padding-bottom: 13px;
        font-size: 25px;
        font-weight: bold;
        color: white;
      }
      &__address {
        color: white;
      }
    }
  }
}