.box-img
  .box-img__form
    %h2.box-img__form__title グルメコレクション
    .box-img__form__first
      - @tweets.each do |tweet|
        %ul.slider
          %li.slider-item
            = image_tag tweet.image.url, class: 'box-img__form__first__images'
